* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  outline: none;
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  background: linear-gradient(103.37deg, rgba(6, 5, 48, 0.95) 12.76%, rgba(11, 42, 80, 0.95) 38.21%, rgba(22, 46, 108, 0.95) 55.14%, rgba(49, 87, 163, 0.95) 77.53%, rgba(46, 83, 137, 0.95) 102.22%);
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.main__container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 60px;
}

.left__shape {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  max-width: 600px;
}

.right__shape {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  max-width: 1200px;
}

.left__content {
  width: 100%;
  max-width: 581px;
  min-width: 581px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 42px;
}

.slider__container {
  width: 100%;
  height: 100%;
  padding-bottom: 115px;
}

.slider__item {
  display: block;
  padding: 42px;
  max-width: 756px;
  max-height: 771px;
}

.slider__item img {
  max-height: 100%;
  border-radius: 30px;
  object-fit: cover;
  box-shadow: 8px 8px 15px 6px rgba(0, 0, 0, 0.2);
}

.left__content .name {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  padding-bottom: 82px;
}

.project__tile {
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  color: #FFFFFF;
  padding-bottom: 20px;
}

.project__desription {
  font-weight: 500;
  font-size: 24px;
  line-height: 121%;
  color: #FFFFFF;
  padding-right: 20px;
}

.btn__view {
  margin-top: 85px;
  background: #080B24;
  border-radius: 40px;
  width: 100%;
  max-width: 293px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  color: #FFFFFF;
  transition: box-shadow .4s;
}

.btn__view svg {
  position: relative;
  left: 20px;
  transition: left .4s;
}

.btn__view:hover svg {
  left: 30px;
}

.slides-num {
  display: flex;
  justify-content: space-between;
  width: 295px;
  position: relative;
  margin-right: 0;
  margin: auto;
  position: absolute;
  right: 16px;
  bottom: 0;
}

.slides-num span {
  display: block;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}

.slides-num span:first-child::before {
  content: "";
  display: block;
  background: #080B24;
  border-radius: 30px;
  width: 150px;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.slider__navigation {
  display: flex;
  align-items: center;
  margin-left: 42px;
}

.previous_arrow {
  margin-right: 36px;
}

.previous_arrow, .next_arrow {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity .4s;
}

.slider__project, .slick-list, .slick-track {
  height: 100%;
}

.previous_arrow:hover, .next_arrow:hover {
  opacity: 1;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

canvas {
  display: block;
  vertical-align: bottom;
}

@media (max-width: 1366px) {
  .project__tile {
    font-size: 48px;
    line-height: 49px;
  }
  .project__desription {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
  }
}

@media (max-width: 1024px) {
  .slider__item {
    max-width: 450px;
  }
  .slider__item img {
    height: 100%;
    object-position: left;
  }
  .left__content {
    max-width: 360px;
    min-width: 360px;
  }
}

@media (max-width: 768px) {
  .main__container {
    flex-direction: column;
    padding-left: 20px;
  }
  .left__content {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: auto;
  }
  .left__content .name {
    padding-bottom: 20px;
  }
  .btn__view {
    max-width: 150px;
    margin-top: 20px;
    height: 40px;
  }
  .slider__container {
    height: 50%;
    padding-bottom: 60px;
    overflow: hidden;
  }
  .slider__item {
    padding: 10px 0;
    max-width: 360px;
    max-height: 360px;
    margin-right: 20px;
  }
  .slider__item img {
    box-shadow: none;
  }
  .slider__navigation {
    display: none;
  }
  .slides-num {
    left: 0;
    right: 0;
  }
  .slides-num span {
    font-size: 33px;
  }
  .right__shape {
    max-width: 300px;
  }
  .left__shape {
    max-width: 400px;
    bottom: -5px;
  }
  .btn__view svg {
    display: none;
  }
}

@media (max-width: 480px) {
  .main__container {
    padding-left: 0;
  }
  .left__content {
    padding-left: 20px;
  }
  .project__desription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 14px;
    -webkit-box-orient: vertical;
  }
  .left__content .name {
    font-size: 22px;
  }
  .project__tile {
    font-size: 26px;
  }
  .btn__view {
    font-size: 18px;
  }
  .slides-num span:first-child::before {
    width: 40px;
    height: 2px;
  }
  .slides-num {
    width: 100px;
  }
  .slides-num span {
    font-size: 18px;
  }
  .left__shape {
    display: none;
  }
  .slider__project .slick-list {
    padding-left: 20px;
  }
  .slider__container{
    margin-top: 10px;
  }
}